@model P3.Models.Cart

<h2 class="mt-3">@Localizer["YourCart"]</h2>
<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr class="text-center">
            <th>@Localizer["Quantity"]</th>
            <th>@Localizer["Item"]</th>
            <th class="text-end">@Localizer["Price"]</th>
            <th class="text-end">@Localizer["Subtotal"]</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-start">@line.Product.Name</td>
                <td class="text-end">@line.Product.Price.ToString("c")</td>
                <td class="text-end">
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
                <td class="text-center">
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="id"
                               value="@line.Product.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            @Localizer["Remove"]
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-end">@Localizer["Total"]:</td>
            <td class="text-end">
                @Model.GetTotalValue().ToString("c")
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" class="text-end">@Localizer["Average"]:</td>
            <td class="text-end">
                @Model.GetAverageValue().ToString("c")
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Product">@Localizer["ContinueShopping"]</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Order">@Localizer["Checkout"]</a>
</div>
